@font-face {
  font-family: "BC Sans";
  font-style: normal;
  font-weight: 400;
  font-display: optional;
  src: url("../node_modules/@bcgov/bc-sans/fonts/BCSans-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "BC Sans";
  font-style: normal;
  font-weight: 700;
  font-display: optional;
  src: url("../node_modules/@bcgov/bc-sans/fonts/BCSans-Bold.woff2") format("woff2");
}
